* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(228, 228, 228);
    font-family: "Inconsolata", monospace;
    font-family: "Lato", sans-serif;
    font-family: "Roboto", sans-serif;
}

main {
    width: 85rem;
    margin: 0 auto;
    /* background-color: rgb(170, 247, 221); */
    /* height: 100vh; */
}

.big-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    margin-bottom: 1em;
    background-color: white;
    /* border-width: 6px; */
    border-left-color: teal;
    border-left: 6px solid teal;
    /* border-top-left-radius: 9px;
    border-bottom-left-radius: 9px; */
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.card-content-left {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
}

.card-content-left div {
    margin: 8px 0;
}

.content-image {
    width: 70px;
    height: 70px;
    margin-right: 7px;
}

.cta-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-1 .tag {
    background-color: teal;
    color: white;
    font-size: 11px;
}

/* Re-write-code to remove importance */

.featured-btn {
    background-color: black !important;
    color: white;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
}

.company-name {
    margin-right: 3px;
}

.cta-1 button {
    background-color: rgb(165, 156, 144);
    padding: 0.2em 0.7em;
    margin-right: 7px;
    border-radius: 8px;
}

.card-content-right {
    display: flex;
    /* background-color: beige; */
}

ul {
    display: flex;
}

li {
    list-style: none;
}

li button {
    border: none;
    margin: 3px;
    background-color: rgb(245, 245, 241);
    font-weight: 600;
    color: teal;
    padding: 5px 10px;
    border-radius: 9px;
}

button {
    border: none;
}

.cta-2 {
    display: flex;
    justify-content: space-between;
}

.attribution {
    display: flex;
    padding: 1em 0;
}

a {
    text-decoration: none;
    color: black;
    /* padding:; */
}
