body{
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section{
  background: white;
  width: 300px;
  border-radius: 10px;
}

article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
article img{
  border-radius: 10px;
  width: 90%;
  margin: 10px;
  height: auto;
}

.heading{
  width: 90%;
  font-weight: 700;
  font-size: 23px;
  color: black;
  text-align: center;
}
article p{
  font-size: 17px;
  font-weight: 300;
  color: grey;
  text-align: center;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }